body {
	background-color: #03675e;
	text-align: center;
	margin: 0 auto;
	position: relative;
	font-family: 'Droid Sans', sans-serif;	width: 100%;

}

button {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom-width: 2px;
	border-radius: 3px; font-size: inherit;
	padding: .5em 2em;
	margin: 0 .2em;
	cursor: pointer;
	background-color: rgb(25, 236, 242);
	color: rgb(65, 65, 65);
	outline: none;
	/*border: none;*/
}

.btn {
	margin-top: 2px;
}

button:hover {
	background-color: rgba(25, 236, 242, 0.8);

}


/* Soundcloud logo placement */
.sclogo {
  position: relative;
  right: 10px;
  bottom: 0;
	top: 40px;
}


/* Top container holds the song and corresponding information */
.top-container {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
	/*border-bottom: 2px solid rgba(0, 0, 0, 1);*/
	background-color: rgba(25, 236, 242, 0.5);
	max-width: 800px;
	min-height: 400px;
}

/*.tc {
	background-size: cover;
	-webkit-filter:blur(5px);
	position: absolute;
	z-index: -1;
}*/

.top-container h1 {
	color: #fff;
	font-size: 80px;
	font-weight: bold;
	margin-bottom: 0px;
	padding-top: 40px;
}

.top-container h2 {
	color: rgb(49, 54, 53);
	font-size: 40px;
	font-weight: 100;
	opacity: 0.6;
	font-weight: bold;
	margin: 0 0 40px 0;

}

.top-container h3 {
	font-size: 14px;
	font-weight: 100;
	font-weight: normal;
	color: rgb(65, 65, 65);
	/*opacity: 0.6;*/
}

.top-container a {
	color: #FFFFFF;
}

.top-container audio {
	margin-top: 10px;
	margin-bottom: 20px;
}

.searchfield {
	margin-bottom: 30px;
}

.searchfield input {
	width: 200px;
	height: 34px;
}

/* Bottom container holds the filter and track rate variables that the user can manipulate */
.bottom-container {
	max-width: 800px;
	min-height: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
	/*border-bottom: 2px solid rgba(0, 0, 0, 1);*/
	background-color: rgba(25, 236, 242, 0.2);
}

.bottom-container h3 {
	font-size: 14px;
	font-weight: normal;
	color: white;
}

.bottom-container button {
	margin-top: 20px;
}

.bottom-container slider {
	margin-top: 20px;

}

.albumCover img {
	-webkit-filter:blur(5px);
	 width: 120%;
	 height: auto;
	 /*background: url(https://xxxx) no-repeat center center;*/
	 position: absolute;
	 background: no-repeat center center;
	 top:-10%;
	 right:0;
	 left:-10%;
	 bottom:0;
	 //content: '';
	 background-size: cover;
	 z-index: -1;
}


/* If the width is below 600: */
 @media (max-width: 600px) {
	 /*body { font-size: 15px; }*/
	 .toggles {
		 width: 100%;
		 display: inline;
		 /*background-color: #f2bee3;*/
	 }
